
@{
    ViewBag.Title = "Thông báo xác nhận";
    Layout = "~/Views/Shared/Login_layout.cshtml";
}

<div class="login-logo">
    <h2>Hệ thống đã gửi email kích hoạt tài khoản. Bạn vui lòng truy cập email của bạn để thực hiện bước cuối cùng đăng ký tài khoản</h2>
</div>



